/* 	***************************************
	*** the parent of this .css is style-box-char-basic-info.css ***

	CHAR-STAT-CHANGE-BUTTON :: DEFAULT (or common properties for each sizes)

	it follows the following format...

	-> general coating for modification (i.e. display property)
	/n
	-> POSITION/SIZE of the block or text
	/n
	-> OTHER (usually local related issues such as image or font)
	*************************************** */

.char-stat-change-button {
  	position: relative;

	color: white;

	cursor: pointer;
	background-color: #1F2121;
}

	.char-stat-change-button:hover {
		background-color: #3B3A3B;
	}

	.char-stat-change-button b {
		position: absolute;

		width: 100%;
		text-align: center;
		font-weight: 300;  

		line-height: 1.66em; /* hard coded lol, fck vertical aligning */ 
	}

	.char-stat-change-button .min i {
		opacity: 0;
	}

	.char-stat-change-button i:nth-of-type(2) {
			animation-delay: 0.05s;
		}

		.char-stat-change-button i:nth-of-type(3) {
		  	animation-delay: 0.1s;
		}

		.char-stat-change-button i:nth-of-type(4) {
		  	animation-delay: 0.15s;
		}

		.char-stat-change-button i:nth-of-type(5) {
		  	animation-delay: 0.2s;
		}

		.char-stat-change-button i:nth-of-type(6) {
		  	animation-delay: 0.25s;
		}

		.char-stat-change-button i:nth-of-type(7) {
		  	animation-delay: 0.3s;
		}

		.char-stat-change-button i:nth-of-type(8) {
		  	animation-delay: 0.35s;
		}

		@keyframes scale-up {
			0% {
		  		opacity: 0;
		    	transform: scale(0);
		  	}

		  	60% {
		    	transform: scale(1.2);
		  	}

		  	100% {
		    	opacity: 1;
		    	transform: scale(1);
		  	}
		}

		@keyframes scale-down {
		  	0% {
		  	 	opacity: 1;
		   		transform: scale(1);
		  	}

		  	100% {
		    	opacity: 0;
		    	transform: scale(0);
		  	}
		}

/* pc - tablet */
@media screen and (min-width: 768px) {
	.char-stat-change-button {
	  	margin-top: .5px;
		height: 49px;
		width: 320px;
		font-size: 3em;

	  	border-radius: 5px;
	}
}
/* -767 and +390px size screens (phone size) */
@media screen and (max-width: 767px) {
	.char-stat-change-button {
	  	margin-top: calc(.5px * (0.6));
		height: calc(49px * (0.6));
		width: calc(320px * (0.6));
		font-size: calc(3em * (0.6));

	  	border-radius: calc(5px * (0.6));
	}
}