/* 	***************************************
	*** the parent of this .css is style-box-char-basic-info.css ***

	BOX-BASIC-INFO-NESTED-LEFT-WRAPPER :: DEFAULT (or common properties for each sizes)

	it follows the following format...

	-> general coating for modification (i.e. display property)
	/n
	-> POSITION/SIZE of the block or text
	/n
	-> OTHER (usually local related issues such as image or font)
	*************************************** */

.dev {
	text-align: center;
	color: #000000;

	background-color: #8EAFBC;
	border-radius: 3px;
	border: 2px inset black;
}

/*	------------------------------
		common style for all type wrappers
		[START] 
		------------------------------ */
.box-basic-info-nested-left-wrapper > div:not(.dev) {
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
}

.balance-wrapper,
.attack-wrapper,
.hp-wrapper,
.defense-wrapper {
	position: relative;
}

.balance-wrapper > div,
.attack-wrapper > div,
.hp-wrapper > div,
.defense-wrapper > div {
	float: left;
}

.balance-wrapper > div > div,
.attack-wrapper > div > div,
.hp-wrapper > div > div,
.defense-wrapper > div > div {
	background-repeat: no-repeat;
}

	.arrow {
		/* the image is by 'Rami McMin' from flaticon.com */
		background-image: url("../img/right-arrow.svg");
	}
/*	------------------------------
	[END] 
	------------------------------ */


	.balance {
		background-color: #EFFF47;
	}

	.balance:hover {
		background-color: #F6FF94;
	}

		.balance-icon {
			/* the image is by 'Freepik' from flaticon.com */
			background-image: url("../img/type-balance.svg");
		}

	.attack {
		background-color: #FFB347;
	}

	.attack:hover {
		background-color: #FFC87A;
	}

		.attack-icon {
			/* the image is by 'Freepik' from flaticon.com */
			background-image: url("../img/type-attack.svg");
		}

	.hp {
		background-color: #FF5747;
	}

	.hp:hover {
		background-color: #FF867A;
	}

		.hp-icon {
			/* the image is by 'Freepik' from flaticon.com */
			background-image: url("../img/type-hp.svg");
		}

	.defense {
		background-color: #77DD77;
	}

	.defense:hover {
		background-color: #A0E7A0;
	}

		.defense-icon {
			/* the image is by 'Freepik' from flaticon.com */
			background-image: url("../img/type-defense.svg");
		}

/* pc - tablet */
@media screen and (min-width: 768px) {
	.dev {
		height: 30px ;
		width: 100%;

		line-height: 1.5em;
		font-size: 2em;
	}

	/*	------------------------------
			common style for all type wrappers
			[START] 
			------------------------------ */
	.box-basic-info-nested-left-wrapper > div:not(.dev) {
		height: 60px;
		width: 60px;
	}

	.balance-wrapper,
	.attack-wrapper,
	.hp-wrapper,
	.defense-wrapper {
		right: 60px;
		height: 60px;
		width: 120px;
	}

	.balance-wrapper > div,
	.attack-wrapper > div,
	.hp-wrapper > div,
	.defense-wrapper > div {
		height: 60px;
		width: 60px;
	}

	.balance-wrapper > div > div,
	.attack-wrapper > div > div,
	.hp-wrapper > div > div,
	.defense-wrapper > div > div {
		height: 40px;
		width: 40px;
		margin: 10px 10px;

		background-size: 40px 40px;
	}

	/*	------------------------------
	init with keyframes for animation for .js extensions
	[START] 
	------------------------------ */

	.balance-wrapper {
		transform: translateX(60px);
	}

	@keyframes translate-right {
		0% {
			transform: translateX(0px);
		}

		100% {
			transform: translateX(60px);
		}
	}

	@keyframes translate-left {
		0% {
			transform: translateX(60px);
		}

		100% {
			transform: translateX(0px);
		}
	}
}
/* -767 and +390px size screens (phone size) */
@media screen and (max-width: 767px) {
	.dev {
		height: calc(30px * (0.6));
		width: 100%;
		
		line-height: 1.2em;
		font-size: calc(2em * (0.6));
	}

	/*	------------------------------
			common style for all type wrappers
			[START] 
			------------------------------ */
	.box-basic-info-nested-left-wrapper > div:not(.dev) {
		height: calc(60px * (0.6));
		width: calc(60px * (0.6));
	}

	.balance-wrapper,
	.attack-wrapper,
	.hp-wrapper,
	.defense-wrapper {
		right: calc(60px * (0.6));
		height: calc(60px * (0.6));
		width: calc(120px * (0.6));
	}

	.balance-wrapper > div,
	.attack-wrapper > div,
	.hp-wrapper > div,
	.defense-wrapper > div {
		height: calc(60px * (0.6));
		width: calc(60px * (0.6));
	}

	.balance-wrapper > div > div,
	.attack-wrapper > div > div,
	.hp-wrapper > div > div,
	.defense-wrapper > div > div {
		height: calc(40px * (0.6));
		width: calc(40px * (0.6));
		margin: calc(10px * (0.6)) calc(10px * (0.6));

		background-size: calc(40px * (0.6)) calc(40px * (0.6));
	}

	/*	------------------------------
	init with keyframes for animation for .js extensions
	[START] 
	------------------------------ */

	.balance-wrapper {
		transform: translateX(calc(60px * (0.6)));
	}

	@keyframes translate-right {
		0% {
			transform: translateX(0px);
		}

		100% {
			transform: translateX(calc(60px * (0.6)));
		}
	}

	@keyframes translate-left {
		0% {
			transform: translateX(calc(60px * (0.6)));
		}

		100% {
			transform: translateX(0px);
		}
	}
}

