/* 	***************************************
	*** the parent of this .css is style-box-char-basic-info.css ***

	CHAR-STAR-INFO :: DEFAULT (or common properties for each sizes)

	it follows the following format...

	-> general coating for modification (i.e. display property)
	/n
	-> POSITION/SIZE of the block or text
	/n
	-> OTHER (usually local related issues such as image or font)
	*************************************** */

.char-star-info {
	float: right;
}

.char-star-info > a {
	float: left;

	width: 50%;
	height: 100%;
	text-align: center;
	text-decoration: none;

	background-color: #3B3A3B;
	border-radius: 3px;
	cursor: pointer;
}

	.char-star-i {
		color: yellow;
	}

	.char-star-i:hover {
		text-decoration: none;

		color: yellow;
	}

	.char-star-i i:nth-of-type(2) {
		animation-delay: 0.05s;
	}

	.char-star-i i:nth-of-type(3) {
		animation-delay: 0.1s;
	}

	.char-star-i i:nth-of-type(4) {
		animation-delay: 0.15s;
	}

	.char-star-i i:nth-of-type(5) {
		animation-delay: 0.2s;
	}

	@keyframes rotate {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}

	.char-star-f {
		color: red;
	}

	.char-star-f:hover {
		text-decoration: none;
		
		color: red;
	}

	.char-star-info > .selected {
		background-color: #1F2121;
	}

/* pc - tablet */
@media screen and (min-width: 768px) {
	.char-star-info {
		width: 320px;
		height: 30px;
		margin-top: 50px;
		margin-bottom: 1px;
	}

	.char-star-info > a {
		line-height: 1.5em;
		font-size: 2em;

		border-radius: 3px;
	}
}
/* -767 and +390px size screens (phone size) */
@media screen and (max-width: 767px) {
	.char-star-info {
		width: calc(320px * (0.6));
		height: calc(30px * (0.6));
		margin-top: calc(50px * (0.6));
		margin-bottom: calc(1px * (0.6));
	}

	.char-star-info > a {
		line-height: 1.4em;
		font-size: calc(2em * (0.6));

		border-radius: 3px;
	}
}

