/* 	***************************************
	*** the parent of this .css is style-box-char-basic-info.css ***

	CHAR-IMG :: DEFAULT (or common properties for each sizes)

	it follows the following format...

	-> general coating for modification (i.e. display property)
	/n
	-> POSITION/SIZE of the block or text
	/n
	-> OTHER (usually local related issues such as image or font)
	*************************************** */

.char-img {
 	position: relative;

	margin: auto;

	overflow: hidden;
	background-color: white;
}

	/*	------------------------------
		common style for all img wrappers
		[START] 
		------------------------------ */
	.char-img > div {
		position: absolute;
	}

	.img-i-wrapper > div {
		float: left;

		background-repeat: no-repeat;
	}

	.img-f-wrapper > div {
		float: left;

		background-repeat: no-repeat;
	}
	/*	------------------------------
		[END] **
		------------------------------ */

	.char-img > div {
		transform-origin: 50% 100%;
  		transform: rotateX(180deg);
	}

	.char-img .is-visible {
  		transform: rotateX(0deg);
	}

	.char-img .is-hidden {
		transform: rotateX(180deg);
	}

	@keyframes rotate-in {
		0% {
			transform: rotateX(180deg);
			opacity: 0;
		}
		33% {
			transform: rotateX(120deg);
			opacity: 0;
		}
		66% {
			opacity: 0;
		}
		100% {
			transform: rotateX(360deg);
			opacity: 1;
		}
		}
	@keyframes rotate-out {
		0% {
			transform: rotateX(0deg);
			opacity: 1;
		}
		33% {
			transform: rotateX(-40deg);
			opacity: 1;
		}
		66% {
			opacity: 0;
		}
		100% {
			opacity: 0;
		}
	}

	.b-img-i-1 {
		background-image: url("../img/alice-b-i-5.jpg");
	}

	.b-img-i-2 {
		background-image: url("../img/alice-b-i-6.jpg");
	}

	.b-img-f-1 {
		background-image: url("../img/alice-b-f-5.jpg");
	}

	.b-img-f-2 {
		background-image: url("../img/alice-b-f-6.jpg");
	}

	.a-img-i-1 {
		background-image: url("../img/alice-a-i-5.jpg");	
	}

	.a-img-i-2 {
		background-image: url("../img/alice-a-i-6.jpg");
	}

	.a-img-f-1 {
		background-image: url("../img/alice-a-f-5.jpg");
	}

	.a-img-f-2 {
		background-image: url("../img/alice-a-f-6.jpg");
	}

	.h-img-i-1 {
		background-image: url("../img/alice-h-i-5.jpg");	
	}

	.h-img-i-2 {
		background-image: url("../img/alice-h-i-6.jpg");
	}

	.h-img-f-1 {
		background-image: url("../img/alice-h-f-5.jpg");
	}

	.h-img-f-2 {
		background-image: url("../img/alice-h-f-6.jpg");
	}

	.d-img-i-1 {
		background-image: url("../img/alice-d-i-5.jpg");	
	}

	.d-img-i-2 {
		background-image: url("../img/alice-d-i-6.jpg");
	}

	.d-img-f-1 {
		background-image: url("../img/alice-d-f-5.jpg");
	}

	.d-img-f-2 {
		background-image: url("../img/alice-d-f-6.jpg");
	}

/* pc - tablet */
@media screen and (min-width: 768px) {
	.char-img {
		width: 320px;
		height: 480px;
	}

		/*	------------------------------
			common style for all img wrappers
			[START] 
			------------------------------ */
		.char-img > div {
			width: calc(320px + 320px + 80px);
			height: calc(480px + 480px + 80px);
		}

		.img-i-wrapper {
			width: calc(320px + 320px + 80px);
			height: 480px;
		}

		.img-f-wrapper {
			width: calc(320px + 320px + 80px);
			height: 480px;

			margin-top: 80px;
		}

		.img-i-wrapper > div {
			width: 320px;
			height: 480px;

			background-size: 320px 480px;
		}

		.img-f-wrapper > div {
			width: 320px;
			height: 480px;

			background-size: 320px 480px;
		}
		/*	------------------------------
			[END] 
			------------------------------ */

	.b-img-i-1 {
		margin-right: 80px;
	}

	.b-img-f-1 {
		margin-right: 80px;
	}

	.a-img-i-1 {
		margin-right: 80px;
	}

	.a-img-f-1 {
		margin-right: 80px;
	}

	.h-img-i-1 {
		margin-right: 80px;
	}

	.h-img-f-1 {
		margin-right: 80px;
	}

	.d-img-i-1 {
		margin-right: 80px;
	}

	.d-img-f-1 {
		margin-right: 80px;
	}

	/*	------------------------------
	all keyframes for (x,y) translation
	[START] 
	------------------------------ */

	@keyframes translate-horizontal-right-lvl1 {
		0% {
			transform: translateX(0px);
		}

		100% {
			transform: translateX(calc(-320px - 80px));
		}
	}
	@keyframes translate-horizontal-left-lvl1 {
		0% {
			transform: translateX(calc(-320px - 80px));
		}

		100% {
			transform: translateX(0px);
		}
	}
	@keyframes translate-horizontal-right-lvlmax {
		0% {
			transform: translate(0px,calc(-480px - 80px));
		}

		100% {
			transform: translate(calc(-320px - 80px),calc(-480px - 80px));
		}
	}
	@keyframes translate-horizontal-left-lvlmax {
		0% {
			transform: translate(calc(-320px - 80px),calc(-480px - 80px));
		}

		100% {
			transform: translate(0px,calc(-480px - 80px));
		}
	}

	@keyframes translate-vertical-up-fivestar {
		0% {
			transform: translateY(0px);
		}

		100% {
			transform: translateY(calc(-480px - 80px));
		}
	}
	@keyframes translate-vertical-down-fivestar {
		0% {
			transform: translateY(calc(-480px - 80px));
		}

		100% {
			transform: translateY(0px);
		}
	}
	@keyframes translate-vertical-up-redstar {
		0% {
			transform: translate(calc(-320px - 80px),0px);
		}

		100% {
			transform: translate(calc(-320px - 80px),calc(-480px - 80px));
		}
	}
	@keyframes translate-vertical-down-redstar {
		0% {
			transform: translate(calc(-320px - 80px),calc(-480px - 80px));
		}

		100% {
			transform: translate(calc(-320px - 80px),0px);
		}
}
/*	------------------------------
	[END] 
	------------------------------ */
}
/* -767 and +390px size screens (phone size) */
@media screen and (max-width: 767px) {
	.char-img {
		width: calc(320px * (0.6));
		height: calc(480px * (0.6));
	}

		/*	------------------------------
			common style for all img wrappers
			[START] 
			------------------------------ */
		.char-img > div {
			width: calc((320px + 320px + 80px) * (0.6));
			height: calc((480px + 480px + 80px) * (0.6));
		}

		.img-i-wrapper {
			width: calc((320px + 320px + 80px) * (0.6));
			height: calc(480px * (0.6));
		}

		.img-f-wrapper {
			width: calc((320px + 320px + 80px) * (0.6));
			height: calc(480px * (0.6));

			margin-top: calc(80px * (0.6));
		}

		.img-i-wrapper > div {
			width: calc(320px * (0.6));
			height: calc(480px * (0.6));

			background-size: calc(320px * (0.6)) calc(480px * (0.6));
		}

		.img-f-wrapper > div {
			width: calc(320px * (0.6));
			height: calc(480px * (0.6));

			background-size: calc(320px * (0.6)) calc(480px * (0.6));
		}
		/*	------------------------------
			[END] 
			------------------------------ */

	.b-img-i-1 {
		margin-right: calc(80px * (0.6));
	}

	.b-img-f-1 {
		margin-right: calc(80px * (0.6));
	}

	.a-img-i-1 {
		margin-right: calc(80px * (0.6));
	}

	.a-img-f-1 {
		margin-right: calc(80px * (0.6));
	}

	.h-img-i-1 {
		margin-right: calc(80px * (0.6));
	}

	.h-img-f-1 {
		margin-right: calc(80px * (0.6));
	}

	.d-img-i-1 {
		margin-right: calc(80px * (0.6));
	}

	.d-img-f-1 {
		margin-right: calc(80px * (0.6));
	}

	/*	------------------------------
	all keyframes for (x,y) translation
	[START] 
	------------------------------ */

	@keyframes translate-horizontal-right-lvl1 {
		0% {
			transform: translateX(0px);
		}

		100% {
			transform: translateX(calc((-320px - 80px) * (0.6)));
		}
	}
	@keyframes translate-horizontal-left-lvl1 {
		0% {
			transform: translateX(calc((-320px - 80px) * (0.6)));
		}

		100% {
			transform: translateX(0px);
		}
	}
	@keyframes translate-horizontal-right-lvlmax {
		0% {
			transform: translate(0px,calc((-480px - 80px) * (0.6)));
		}

		100% {
			transform: translate(calc((-320px - 80px) * (0.6)),calc((-480px - 80px) * (0.6)));
		}
	}
	@keyframes translate-horizontal-left-lvlmax {
		0% {
			transform: translate(calc((-320px - 80px) * (0.6)),calc((-480px - 80px) * (0.6)));
		}

		100% {
			transform: translate(0px,calc((-480px - 80px) * (0.6)));
		}
	}

	@keyframes translate-vertical-up-fivestar {
		0% {
			transform: translateY(0px);
		}

		100% {
			transform: translateY(calc((-480px - 80px) * (0.6)));
		}
	}
	@keyframes translate-vertical-down-fivestar {
		0% {
			transform: translateY(calc((-480px - 80px) * (0.6)));
		}

		100% {
			transform: translateY(0px);
		}
	}
	@keyframes translate-vertical-up-redstar {
		0% {
			transform: translate(calc((-320px - 80px) * (0.6)),0px);
		}

		100% {
			transform: translate(calc((-320px - 80px) * (0.6)),calc((-480px - 80px) * (0.6)));
		}
	}
	@keyframes translate-vertical-down-redstar {
		0% {
			transform: translate(calc((-320px - 80px) * (0.6)),calc((-480px - 80px) * (0.6)));
		}

		100% {
			transform: translate(calc((-320px - 80px) * (0.6)),0px);
		}
	}
}
