/* 	***************************************
	CHAR-STAR-INFO :: DEFAULT (or common properties for each sizes)

	it follows the following format...

	-> general coating for modification (i.e. display property)
	/n
	-> POSITION/SIZE of the block or text
	/n
	-> OTHER (usually local related issues such as image or font)
	*************************************** */

@import url("box-basic-char-type-info.css");
@import url("box-basic-char-star-info.css");
@import url("box-basic-char-img.css");
@import url("box-basic-stat-change-button.css");

.box-basic-info {
	position: relative;
	margin: auto;

	background-color: #86BBD8;
}

	.box-basic-info-wrapper {
		margin: auto;
	}

		.box-basic-info-nested-left-wrapper {
			float: left;
		}

		.box-basic-info-nested-right-wrapper {
			float: left;
			position: relative;
		}

@media screen and (min-width: 768px) {
	.box-basic-info {
		margin-top: 100px;
		margin-bottom: 100px;

		width: 500px;
		height: 660px;

		border-radius: 10px;
		box-shadow: 0 2px 20px rgba(0,0,0,.7), inset 0 1px 0 rgba(255,255,255, .2);
	}

	.box-basic-info-wrapper {
		width: 380px;
		height: 500px;
	}

		.box-basic-info-nested-left-wrapper {
			width: 60px;
			height: calc(510px + 50px);
			margin-top: 50px;
		}

		.box-basic-info-nested-right-wrapper {
			width: 320px;
		}

}
/* -767 and +390px size screens (phone size) */
@media screen and (max-width: 767px) {
	.box-basic-info {
		margin-top: calc(100px * (0.6));
		margin-bottom: calc(100px * (0.6));

		width: calc(500px * (0.6));
		height: calc(660px * (0.6));

		border-radius: calc(10px * (0.6));
		box-shadow: 0 2px 20px rgba(0,0,0,.7), inset 0 1px 0 rgba(255,255,255, .2);
	}

	.box-basic-info-wrapper {
		width: calc(380px * (0.6));
		height: calc(500px * (0.6));
	}

		.box-basic-info-nested-left-wrapper {
			width: calc(60px * (0.6));
			height: calc((510px + 50px) * (0.6));
			margin-top: calc(50px * (0.6));
		}
		
		.box-basic-info-nested-right-wrapper {
			width: calc(320px * (0.6));
		}
}

