/* -------------------------------- 

Primary style

-------------------------------- */

body {
  font-size: 100%;
  font-family: 'Nanum Pen Script', fantasy;
  line-height: 1;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: table;
  background-color: white;
}

.wrapper {
	margin: auto;
}

/* pc - tablet */
@media screen and (min-width: 768px) {
	.wrapper {
		width: 600px;
		height: 100%;
	}
}
/* -767 and +390px size screens (phone size) */
@media screen and (max-width: 767px) {
	.wrapper {
		width: 320px;
		height: 100%;
	}
}










